<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Monkey Momma Creations Weather App">
  <meta name="author" content="Karin M. Davis">

  <title>Monkey Momma Creations Travel App</title>
  <!-- favicon code -->
	<link rel="shortcut icon" href="../media/mmcfavicon.png">


  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
  <main id="home" class="app">
    <section class="flex five">

      <div class="full three-fifth-1000">

        <form class="card" id="destinationform" autocapitalize="none" onsubmit="return Client.handleSubmit(event)">
          <h1>Monkey Momma Creations Travel Planner</h1>
          <h2>Enter address for destination and departure date in fields below.</h2>
          <fieldset>

            <label for="streetnumber">Street Numbers, i.e. "1600" for a trip to White House</label>
            <input type="text" id="streetnumber" placeholder="Enter Street Numbers here"></input>
            <label for="streetname">Street name, i.e. "Pennslyvania"</label>
            <input type="text" id="streetname" placeholder="Enter Street Name here"></input>
            <label for="streettype">Street Type, i.e. Ave, St, Way</label>
            <input type="text" id="streettype" placeholder="Ave, St, Way, Place, etc"></input>
            <label for="city">City Name</label>
            <input type="text" id="city" placeholder="Enter City Name Here"></input>
            <label for="datefrom">When ya going?</label>
            <input type="date" id="datefrom" placeholder="Date of departure"></input>

          </fieldset>
          <!-- Placeholder for errors -->
          <div id="error" class="pseudo button error"></div>
          <button class="buttonsubmit" id="adddestinationform" type="submit" name="letsgo" value="text" form="destinationform"
            onclick="return Client.js.handleForm(event)" onsubmit="return Client.js.handleForm(event)">Let's Go!</button>
        </form>

        <div class="card" id="outputform">
          <h1> Travel Information </h1>
          <div>
            <div id="daysleft"></div>
            <div id="weathersummary"></div>
            <!-- Image Placeholder -->
            <img class="pixabayimage" src="" id="destinationimage"></img>
          </div>
        </div>

      </div>
    </section>
  </main>

  <!-- Enable Service workers -->
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <footer>
    <p>Copyright &copy; <a href="https://www.monkeymommacreations.com">Monkey Momma Creations</a> <script> document.write ( new Date() .getUTCFullYear() ); </script></p>
    </footer>

</body>

</html>
